nav.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
	user-select: none;
}

nav.navbar .container-fluid.auto {
	width: 100%;
	max-width: var(--mdc-theme-surface-maxwidth);
	margin: 0 auto;
}

nav.navbar .navbar-nav svg {
	fill: currentColor;
	width: 1.6rem;
	height: 1.6rem;
}

nav.navbar .form-control {
  background-color: var(--mdc-theme-surface-1)
}

nav.navbar .form-control:focus {
	color: var(--bs-body-color);
	border-color: var(--mdc-theme-primary);
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(var(--mdc-theme-primary-rbg), 25%);
}

nav.navbar .offcanvas {
  --bs-offcanvas-bg: var(--mdc-theme-surface-2);
  --bs-offcanvas-border-color: var(--mdc-theme-stroke-color);
}